{% extends 'base.html.twig' %}

{% block title %} {{ series is defined ? 'Atualizar' : 'Adicionar' }} série {% endblock %}

{% block body %}
    <form method="post">
        <div>
            <label for="nome">Nome</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ series is defined ? series.name : '' }}">
        </div>

         {% if series is defined %}
            <input type="hidden" name="_method" value="PATCH">
         {% endif %}

        <button type="submit" class="btn btn-primary mt-4">
            {{ series is defined ? 'Atualizar' : 'Adicionar' }}
        </button>
    </form>
{% endblock %}