{% extends 'base.html.twig' %}

{% block title %}Listagem de séries{% endblock %}

{% block body %}
    <a href="{{ path('app_series_add') }}" class="btn btn-primary mb-2">Adicionar</a>
    <ul class="list-group mt-4">
        {% for serie in seriesList %}
            <li class="list-group-item">{{ serie }}</li>
        {% endfor %}
    </ul>
{% endblock %}
